@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;700&family=Roboto&display=swap');

* {
  font-family: 'Dancing Script', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.App {
  margin-top: 2.5rem;
}

.index {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index button {
  height: 30px;
  width: 30px;
  margin: 5px;
}

.index input {
  height: 24px;
  width: 24px;
  text-align: center;
}

Table {
  margin-top: 1.25rem;
}

Button {
  margin: 5px;
}

#form {
  background-color: #7FFFD4;
}

#delete{
  background-color: red;
}
